#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/nautilus-paste-shortcut/usr/share/nautilus-python/extensions
	install -m 0644 src/nautilus_paste_shortcut.py debian/nautilus-paste-shortcut/usr/share/nautilus-python/extensions/
	install -m 0644 src/core_logic.py debian/nautilus-paste-shortcut/usr/share/nautilus-python/extensions/
